<div class='mt-4'>
    <div class='row'>
        {{#each songs}}
            <div class='col-sm-6 col-lg-4'>
                <div class='card card-song-item'>
                    <a href='/songs/{{this.slug}}'>
                        <img src='{{this.image}}' class='card-img-top' alt='{{this.name}}' />
                    </a>
                    <div class='card-body card-body-item'>
                        <a href='/songs/{{this.slug}}'>
                            <h5 class='card-title'>{{this.name}}</h5>
                        </a>
                        <p class='card-text'>{{this.description}}</p>
                    </div>
                    <a href='/songs/{{this.slug}}' class='btn btn-primary'>Nghe ngay</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>