<form name='container-form' class='mt-4' method='POST' action='/songs/handle-form-actions'>
    <div>
        <h3>Bài hát của tôi</h3>
        <a href='/me/trash/songs'>Thùng rác ({{deletedCount}})</a>
        <div class='mt-4 d-flex align-items-center'>
            <div class='form-check'>
                <input class='form-check-input' type='checkbox' value='' id='checkbox-all' />
                <label class='form-check-label' for='checkbox-all'>
                    Chọn tất cả
                </label>
            </div>

            <select class='form-control form-control-sm checkbox-select-all-options' name='action' required>
                <option value=''>Chọn hành động</option>
                <option value='delete'>Xóa</option>
            </select>

            <button class='btn btn-primary btn-sm btn-check-all-submit' disabled>Áp dụng</button>
        </div>
        <a href='/songs/create' class='btn btn-primary btn-sm btn-mb-add float-right'>Thêm bài hát</a>
    </div>
    <table class='table mt-2'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col' style='width: 70px'>
                    ID
                    {{{sortable '_id' _sort}}}
                </th>
                <th scope='col'>
                    Tên bài hát
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope='col'>
                    Thể hiện
                </th>
                <th scope='col'>Nội dung</th>
                <th scope='col'>
                    Thời gian tạo
                    {{{sortable 'createdAt' _sort}}}
                </th>
                <th scope='col'></th>
            </tr>
        </thead>
        <tbody>
            {{#each songs}}
            <tr class='row-hover-color'>
                <td>
                    <div class='form-check'>
                        <input class='form-check-input' type='checkbox' name='songIds[]' value='{{this._id}}' />
                        <label class='form-check-label' for='defaultCheck1'>
                        </label>
                    </div>
                </td>
                <td scope='row'>{{this._id}}</td>
                <td>
                    <a href='/songs/{{this.slug}}' class='font-color-black'>
                        {{this.name}}
                    </a>
                </td>
                <td>{{this.singer}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href='/songs/{{this._id}}/edit' class='btn btn-primary btn-sm'>Sửa</a>
                    <a href='/songs/{{this._id}}/edit' class='btn btn-danger btn-sm mt-1' data-toggle='modal'
                        data-target='#delete-songs-modal' data-id='{{this._id}}' data-name='{{this.name}}'>Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan='7' class='text-center'>
                    Bạn chưa đăng bài hát nào
                    <a href='/songs/create'>Đăng bài hát</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{! Confirm delete course }}
<div class='modal' id='delete-songs-modal' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xác nhận xóa bài hát</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Bạn có chắc chắn xóa bài hát này ?</p>
            </div>
            <div class='modal-footer'>
                <button id='btn-delete-song' type='button' class='btn btn-danger'>Xóa bài hát</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
            </div>
        </div>
    </div>
</div>

<form name='delete-song-form' method='POST'></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var songId; var deleteForm = document.forms['delete-song-form'];
        var containerForm = $('form[name="container-form"]');
        var btnDeleteSong = document.getElementById('btn-delete-song');
        var checkboxAll = $('#checkbox-all');
        var songItemCheckbox = $('input[name="songIds[]"]');
        var checkAllSubmitBtn = $('.btn-check-all-submit');

        // When dialog Confirm clicked
        $('#delete-songs-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name'); songId = id;
        });

        // When delete song btn clicked
        btnDeleteSong.onclick = function () {
            deleteForm.action = `/songs/${songId}?_method=DELETE`;
            deleteForm.submit();
        }

        // checkbox all change 
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            songItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // song item checkbox change
        songItemCheckbox.change(function () {
            var isCheckedAll = songItemCheckbox.length === $('input[name="songIds[]"]:checked').length; checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        function renderCheckAllSubmitBtn() {
            var checkedOut = $('input[name="songIds[]"]:checked').length;
            if (checkedOut > 0) {
                checkAllSubmitBtn.attr('disabled', false);
            } else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        }
    })
</script>