<div class='mt-4'>
    <div>
        <a href='/me/stored/songs'>Danh sách bài hát</a>
        <h3>Khóa học đã xóa</h3>
    </div>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>STT</th>
                <th scope='col'>Tên bài hát</th>
                <th scope='col'>Thể hiện</th>
                <th scope='col' colspan='2'>Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each songs}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.singer}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href='' class='btn btn-link btn-restore' data-id='{{this._id}}'>Khôi phục</a>
                        <a
                            href='/songs/{{this._id}}/edit'
                            class='btn btn-link'
                            data-toggle='modal'
                            data-target='#delete-songs-modal'
                            data-id='{{this._id}}'
                        >Xóa vĩnh viễn</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan='5' class='text-center'>
                        Thùng rác trống
                        <a href='/me/stored/songs'>Danh sách bài hát</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Confirm delete course }}
<div class='modal' id='delete-songs-modal' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xác nhận xóa bài hát vĩnh viễn</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Xóa bài hát này không khôi phục lại được nữa. Bạn có chắc chắn muốn xóa bài hát này?</p>
            </div>
            <div class='modal-footer'>
                <button id='btn-delete-song' type='button' class='btn btn-danger'>Xóa vĩnh viễn</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
            </div>
        </div>
    </div>
</div>

<form name='delete-song-form' method='POST'></form>
<form name='restore-song-form' method='POST'></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var songId;
        var deleteForm = document.forms['delete-song-form'];
        var restoreForm = document.forms['restore-song-form'];
        var btnDeleteSong = document.getElementById('btn-delete-song');
        var btnRestore = $('.btn-restore');
        // When dialog Confirm clicked
        $('#delete-songs-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            songId = id;
        });

        // When delete song btn clicked
        btnDeleteSong.onclick = function () {
            deleteForm.action = `/songs/${songId}/force?_method=DELETE`;
            deleteForm.submit();
        };

        // restore btn clicked
        btnRestore.click(function (e) {
            e.preventDefault();
            songId = $(this).data('id');
            restoreForm.action = `/songs/${songId}/restore?_method=PATCH`;
            restoreForm.submit();
        });
    });
</script>